<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Request</title>
</head>

<body>
    <div style="text-align: center">
        <h1>Instructor Requet</h1>

        <p>
            You got a new instructor request from <strong>{{instructor.first_name}} {{instructor.first_name}}</strong>
        </p>

        <p>Please check his profile for approval.</p>

        <p>Thanks</p>
    </div>
</body>

</html>