{% extends 'website/base.html' %} {% load static %}


{% block title %} FAQs {% endblock title %}



{% block body %}

<!--=====================================-->
<!--=       Breadcrumb Area Start       =-->
<!--=====================================-->
<div class="breadcrum-area breadcrumb-banner" style="margin-top: -200px">
    <div class="container">
        <div class="section-heading heading-left" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="300">
            <h1 class="title h2">FAQs</h1>
            <p>Frequently Asked Questions</p>
        </div>
        <div class="banner-thumbnail" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400">
            <img class="paralax-image" src="{% static  'website/media/banner/.png' %}" alt="">
        </div>
    </div>
    <ul class="shape-group-8 list-unstyled">
        <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200"
            style="margin-top: -200px">
            <img src="{% static  'website/media/others/bubble-21.png' %}" alt="Bubble">
        </li>
        <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300"
            style="margin-top: -200px">
            <img src="{% static  'website/media/others/line-4.png' %}" alt="Line">
        </li>
    </ul>
</div>



<!--=====================================-->
<!--=       FAQs Area Start       =-->
<!--=====================================-->
<section class="section-padding bg-color-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="choose-accordion">

                    {% for i in a %}

                    <div class="accordion-item mb-4">
                        <h2 class="accordion-header" id="heading{{forloop.counter}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false"
                                aria-controls="collapse{{forloop.counter}}">
                                <strong class="mr-2">Q {{forloop.counter}}. </strong>{{i.question}}
                            </button>
                        </h2>
                        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse"
                            aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#choose-accordion">
                            <div class="accordion-body"> <strong class="mr-2">Ans.</strong>
                                {{i.answer}}
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>









{% endblock body %}