{% extends 'portal/base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block title %} Instructors {% endblock title %}


{% block body %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">Instructors</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}"> Dashboard</a></li>
                    <li class="breadcrumb-item active">Instructors</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="card">
    <div class="card-body">
        <h2 class="d-inline">Instructors</h2>
        {% if perms.portal.add_instructor %}
        <a href="{% url 'portal:add-course' %}" class="btn btn-outline-primary float-right d-inline"><i
                class="fa fa-plus-circle mr-1"></i>Add
            New</a>
        {% endif %}
    </div>
</div>

{% for message in messages %}
<div class="alert alert-{{message.tags}}" role="alert"><strong>{{message}}</strong>
</div>
{% endfor %}

<div class="card card-body">

    {% if instructors|length %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>License Number</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>

                    {% if perms.portal.change_instructor %}
                    <th class="text-center">View</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>

                {% for i in instructors %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td>

                        {% if i.image %}
                        <img src="{{i.image.url}}" alt="Image" height="50">
                        {% else %}
                        <img src="" alt="Image">
                        {% endif %}

                    </td>
                    <td>{{i.first_name}} {{i.last_name}}</td>
                    <td>{{i.license_number}}</td>
                    <td>{{i.city}}</td>
                    <td>£ {{i.state}}</td>
                    <td>£ {{i.country}}</td>

                    {% if perms.portal.change_instructor %}
                    <td class="text-center">
                        <a href="{% url 'portal:update-instructor' i.id %}" class="btn btn-primary btn-sm">View</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    {% else %}

    <div class="card-header text-center">
        <h4>No record found</h4>
    </div>

    {% endif %}

</div>

{% endblock body %}